:root {
  /* Base Colors */
  --ts-blue-300: #0dbedc;
  --ts-pineapple-500: #ffdc0f;
  --ts-white: #ffffff;
  --ts-black: #000000;

  /* Supporting Gradations */
  --ts-blue-700: #005aa0;
  --ts-blue-500: #1c8dc6;

  --ts-pineapple-400: #ffee58;
  --ts-pineapple-600: #fec704;

  --ts-gray-50: #efefef;
  --ts-gray-100: #e5e5e5;
  --ts-gray-500: #808080;
  --ts-gray-700: #4d4d4d;
  --ts-gray-900: #1a1a1a;

  /* Signal Colors */
  --ts-green-500: #4db85f; /* Go */
  --ts-orange-500: #ffae00; /* Noun */
  --ts-red-500: #d63339; /* Stop */

  /* Applying Colors */
  --font-color: var(--ts-black);
  --background-color: var(--ts-white);
  --link-color: var(--ts-blue-700);

  --status-ok: var(--ts-green-500);
  --status-info: var(--ts-orange-500);
  --status-error: var(--ts-red-500);

  /* Font */
  --ts-font-family: 'Roboto', 'Arial', sans-serif;
  --ts-font-weight-bold: 700;
  --ts-font-weight-regular: 400;
  --ts-font-style-regular: normal;
  --ts-font-style-italic: italic;

  --font-size-3xl: 5.625rem;
  --font-size-2xl: 2.5rem;
  --font-size-xl: 1.625rem;
  --font-size-lg: 1.375rem;
  --font-size-md: 1.125rem;

  --line-height-3xl: 5.625rem;
  --line-height-2xl: normal;
  --line-height-xl: normal;
  --line-height-lg: 2rem;
  --line-height-md: normal;

  --ts-headline-1: normal normal var(--ts-font-weight-bold) normal
    var(--font-size-3xl) / var(--line-height-3xl) var(--ts-font-family);
  --ts-headline-2: normal normal var(--ts-font-weight-bold) normal
    var(--font-size-2xl) / var(--line-height-2xl) var(--ts-font-family);
  --ts-headline-3: normal normal var(--ts-font-weight-regular) normal
    var(--font-size-xl) / var(--font-size-xl) var(--ts-font-family);

  --ts-subheading: normal normal var(--ts-font-weight-regular) normal
    var(--font-size-lg) / var(--line-height-lg) var(--ts-font-family);

  --ts-copy: normal normal var(--ts-font-weight-regular) normal
    var(--font-size-md) / var(--line-height-md) var(--ts-font-family);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: var(--ts-gray-100);
    --background-color: var(--ts-gray-900);
  }
}

@media (max-width: 576px) {
  :root {
    --font-size-3xl: 2.75rem;
    --font-size-2xl: 1.5rem;
    --font-size-xl: 1.125rem;
    --font-size-lg: 1.125rem;
    --font-size-md: 1rem;

    --line-height-3xl: 2.75rem;
    --line-height-2xl: normal;
    --line-height-xl: normal;
    --line-height-lg: 1.5rem;
    --line-height-md: 1.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ts-font-family);
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

h1 {
  padding: 0 12px;
  margin: var(--font-size-2xl) 0;
  font: var(--ts-headline-1);
}

header > div,
footer > div {
  padding: var(--font-size-xl) calc((100vw - 1000px) / 2);
  background-color: var(--ts-pineapple-500);
}

header > div {
  padding-bottom: 100px;
}

nav {
  margin-bottom: var(--font-size-xl);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

menu {
  display: flex;
  flex-direction: row;
  gap: var(--font-size-md);
}

menu > li {
  list-style: none;
  font-size: var(--font-size-md);
}
